[Desktop Entry]
Name=Wayfire (REVYTECH)
Comment=REVYTECH Wayfire Wayland compositor
Exec=/usr/local/libexec/wayfire-session-launch
TryExec=wayfire
Type=Application
DesktopNames=Wayfire
