[Desktop Entry]
Name=Wayfire (REVYTECH)
Comment=REVYTECH Wayfire Wayland compositor
Exec=wayfire
Type=Application
DesktopNames=Wayfire
X-LightDM-DesktopName=Wayfire
X-GDM-SessionRegisters=true
